@import "tailwindcss";

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

body {
    background-color: #191919;
    color: rgba(255, 255, 255, 0.87);
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100%;
    font-family: var(--font-geist), ui-sans-serif, system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
}

.overflow-y-auto {
    -webkit-overflow-scrolling: touch;
}

@media (min-width: 1024px) {
    html,
    body {
        overflow: hidden;
    }
}
