@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #010101;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
